.dentoff { 
font-family: Verdana;
color : #00688B;
background-color:#EEEEEE;
border:2px solid transparent;
text-decoration:none;
padding:3px;
margin:1px;
} 
.denton { 
font-family: Verdana;
color : #EED2EE;
background-color:#EE1289;
border:2px solid #EE1289;
text-decoration:none;
padding:3px;
margin:1px;
} 

body {
	margin:0px;
	font-family: sans-serif;
	background-color:#fff;
	height: 100%;
	}

h1 {
	font-family: Verdana;
	color:#498BF4;
	text-decoration:none;
	height:48px;
	margin-top:0px;
	margin-bottom:0px;
}

h3 {
	color:#498BF4;
}

a:link{
	color:#498BF4;
	text-decoration:none;
}

.titreretrait{
	color:#FFF;
	background-image: url(./img/box_upload_48.png);
	background-repeat: no-repeat;
	text-indent:2em;
}

.titreajout{
	color:#FFF;
	background-image: url(./img/box_download_48.png);
	background-repeat: no-repeat;
	text-indent:2em;
}

.titregestion{
	color:#DFB6E4;
	background-image: url(./img/box_upload_48.png);
	background-repeat: no-repeat;
	text-indent:2em;
}

#leplus, #lemoins{
	width:50px;
	font-size:20px;
}

#leplus:hover, #lemoins:hover{

	color:white;
}



input.actif, textarea.actif {
font-size:13px;
padding:4px;
border: 2px solid #498BF4;
font-weight: bold;
margin:5px;
width:200px;
}

input.TQbk {
font-size:12px;
padding:1px;
border: 1px solid #EEEEFF;
font-weight: bold;
color:black;
background-color:#F5F5F5;
margin:2px;
}
input.TQbk:focus{
	border: 1px solid #DD99AA;
	outline:none;
	background-color: #FFEEBB;
}

input.tresactif {
font-size:16px;
padding:3px;
border: 2px solid #9999DD;
font-weight: bold;
}

input.inactif {
font-size:12px;
padding:3px;
border: 3px solid #CCCCCC;
}

input:focus, textarea:focus{
	border: 2px solid #DD99AA;
	outline:none;
	background-color: #FFEEBB;	
}

label {
display: block;
width: 160px;
font-size:13px;
padding:6px;
float: left;
clear:both;
}

fieldset{
	width: 600px;
}
.affichage{
	display: block; padding: 12px 12px 12px 52px; color: #333; text-decoration: none; margin: 20px 0; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border: 1px solid #ebb1b1; background: url(./img/error.png) no-repeat 10px 50% #ffd6d6;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;
}

/* ============================================= boxes ============================================= */
.box { display: block; padding: 12px 12px 12px 52px; color: #333; text-decoration: none; margin: 20px 0; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }	
.box:hover { color: #000; text-decoration:none; }
.succes { border: 1px solid #b3dc7c; background: url(./img/success.png) no-repeat 10px 50% #e8ffca; }
.error { border: 1px solid #ebb1b1; background: url(./img/error.png) no-repeat 10px 50% #ffd6d6; }
.warning { border: 1px solid #efdc75; background: url(./img/warning.png) no-repeat 10px 50% #fff7cb; }
.info { border: 1px solid #afdbee; background: url(./img/info.png) no-repeat 10px 50% #e4f5fd; }
/* ============================================= corners ============================================= */
.corners { -moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px; }

#supermenu{
	font-family: Verdana;
	width:100%;
	background-color:#FFEEBB;
	padding:8px;
	margin:0;
	color:#333;
	background-image: url(./img/ministock.png);
	background-repeat: no-repeat;
	background-position: 3px 1px;
	text-indent: 2em;
	border-bottom:1px solid #555;
}
a.supermenu{
	color:#100A86;
}


ul.menu, li.menu, a.menu{ font-family: Verdana; font-weight: bold; display: inline-block; text-decoration: none; font-size:14px;color:#555;	margin-bottom:0px;}
ul.sousmenu { margin-left:15px;	margin-bottom:30px;}
ul.retrait, li.retrait { display: block; list-style-type: none;color:#333 }

 a.menu{
	background: #f5f5f5 url(./img/overlay.png) repeat-x; 
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	font-weight:bold;
	text-align:center;
	margin-right:16px;
	height:27px;
	line-height:27px;
	min-width:54px;
	outline:0;
	padding:6px;
	background-color:#f5f5f5;
	color:#555;
	border:1px solid #dcdcdc;
	display: block;
	}
 a.menu:hover{
	color:#498BF4;
	border:1px solid #bbb;
	background-color:#FAFAFA;
	
}
a.activ{ color:#FF5555;
		border:1px solid #FF9898;
		background-color:#fFf5f5;}


/*=============================================boutons===========================================*/
.button, .button:visited, a.button  {
	font-family: Verdana, Arial, "MS Trebuchet", sans-serif;
	display: inline-block; 
	background: #222 url(./img/overlay.png) repeat-x; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	 
    text-transform: uppercase; 
    margin-top: 10px;
    background-color: #18a5cc;
    border: none;
}
 
	.button:hover						{ background-color: #111; color: #fff; }
	.button:active							{ top: 1px; }
	.small.button, .small.button:visited 			{ font-size: 11px}
	.button, .button:visited,
	.medium.button, .medium.button:visited 		{ font-size: 13px; 
												  font-weight: bold; 
												  line-height: 1; 
												  text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
												  }
												  
	.large.button, .large.button:visited 			{ height:50px;width:90%;font-size:20px;
													  padding: 8px 14px 9px; }
													  
	.super.button, .super.button:visited 			{ font-size: 34px; 
													  padding: 8px 14px 9px; }
	
	.pink.button, .magenta.button:visited		{ background-color: #e22092; }
	.pink.button:hover							{ background-color: #c81e82; }
	.green.button, .green.button:visited		{ background-color: #91bd09; }
	.green.button:hover						    { background-color: #749a02; }
	.red.button, .red.button:visited			{ background-color: #e62727; }
	.red.button:hover							{ background-color: #cf2525; }
	.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
	.orange.button:hover						{ background-color: #d45500; }
	.blue.button, .blue.button:visited		    { background-color: #2981e4; }
	.blue.button:hover							{ background-color: #2575cf; }
	.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
	.yellow.button:hover						{ background-color: #fc9200; }


/* -------------------------------------fin boutons--------------------------------- */



.retraitprod{
	font-family: Verdana;
	text-decoration:none;
	text-indent: 2em;
	height:38px;
	font-size:30px;
	color : #752B7D;
}

.retraitext{
	font-family: Verdana;
	text-decoration:none;
	text-indent: 1em;
	height:28px;
	font-size:20px;
	color : #752B7D;
	font-style: italic;
}

ul.nav, li.nav { 
	font: bold 11px Verdana, Arial, Helvetica,sans-serif;
	color: #6D929B;
	font-weight: normal;
	display: block;
	padding:0px;}
a.catego{
		text-decoration:none;
	}
	
a.catego:hover{
			text-decoration:underline;
			color: #150E71;
		}


.navtit{
		font-size:12px;
	}

th{
		font: bold 10px Verdana, Arial, Helvetica,sans-serif;
		color: #6D929B;
		border-right: 1px solid #C1DAD7;
		border-bottom: 1px solid #C1DAD7;
		border-top: 1px solid #C1DAD7;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: left;
		padding: 6px 6px 6px 12px;
	
}
th.listingtitre{
		background: #CAE8EA url(./img/bg_headertit.jpg) no-repeat;
}
th.listingcateg{
		background: #CAE8EA url(./img/bg_headercateg.jpg) no-repeat;
}

th.listingprod{
		background: #CAE8EA url(./img/bg_headerprod.jpg) no-repeat;
}
a.up {
	background: url(./img/bullet_arrow_up.png) no-repeat;
	background-position: center right;
	padding-right:15px;
	}
a.up:hover {
	background: url(./img/bullet_arrow_down.png) no-repeat;
	background-position: center right;
	}
	
a.down {
	background:  url(./img/bullet_arrow_down.png) no-repeat;
	background-position: center right;
	padding-right:15px;
	}
a.down:hover {
	background:  url(./img/bullet_arrow_up.png) no-repeat;
	background-position: center right;
	}

th.listingproddiscret{
		background: #CAE8EA url(./img/bg_headerprod.jpg) no-repeat;	
}

a.listingprod:link,a.listingprod:visited {
	color: #6D929B;
	text-decoration:underline;
}

a.listingprod:hover {
	color: #252277;
	text-decoration:underline;
}

table{
	border: 1px solid #8C8C8C;
	-moz-border-radius:8px; -webkit-border-radius:8px; border-radius: 8px;
	padding: 4px;
	background-color: #FFF;

}
tr {
	font-family :Verdana, Arial, Helvetica,sans-serif;
	font-size: 11px;
	border-left: 1px solid #5C5C5C;
	border-right: 1px solid #5C5C5C;
	background: #EEE;
	padding: 6px 6px 6px 12px;
	color: #5C5C5C;
	
}

#selectableau tr {
	cursor:  pointer;
}

#selectableau tr:active {
	background-color:  #6B3ADF;
	color: #FFF;
}


td{
	height:24px;
	border-bottom: 0px solid #C1DAD7;
	padding-left: 10px;
	padding-right: 10px;
	text-align:left;
}

tr.alt {
	background: #fff;
	color: #747474;
	
}

tr.selectionalt {
	background: #fff;
	color: #747474;
	cursor:pointer;
}
tr.selection {
	cursor:pointer;
}

tr.clean {
	background: #fff;
	color: #747474;
}

tr.stock, td.stock {
	background: #F5C4C5;
	color: #FF1417;
}
tr.bientotstock {
	background: #F0D7BB;
	color: #F58905;
}

tr.unused {
	background: #777;
	color: #AAA;
}

tr.justchange {
	background: #FFFF00;
	color: #111111;
}

tr:hover {
	background: #9B9AFF;
	color: #252277;
}

/* Subnavigation */

#subnavigationwrap {
width: 100%;
height: 35px;
background: #ccc;
border-top: 1px solid #888;
font-family: Verdana;
padding-left:25px;
border-bottom:1px solid #999;
background-image: url(./img/ministock.png);
background-repeat: no-repeat;
background-position: 3px 1px;
}
	#subnavigation { margin: 0 0 0 1.5%;}
	#subnavigation ul { margin: 0; padding: 0; list-style: none; }
		#subnavigation ul li {
		display: block;
		float: left;
		}
			#subnavigation ul li a {
			display: block;
			padding: 0 25px;
			line-height: 35px;
			color: #666;
			border: 0;
				text-decoration: none;

			}
				#subnavigation ul li a:hover {
				color: #fff;
				background: #498BF4;
				text-decoration: none;
				}

tr.selecttorque, th.selecttorque{height:5px;padding:0;}
td.videselect{
	height:15px;border:1px solid black;width:40px;padding:0;text-align:center;
	}
td.videselect{background-color:transparent;border:1px solid transparent;}


td.cadran1{
	border-bottom: 4px solid #777;
	border-right: 3px solid #000;
}
td.dentcadransup{border-bottom: 4px solid #777;}
td.dentcadran1, td.dentcadransup,  td.dentcadraninf, td.dentcadran3{text-align:center;font-weight:bold;font-size:18px}
td.dentcadran1{
	border-bottom: 4px solid #777;
	border-right: 3px solid #000;	
	}
td.dentcadran3{
	border-right: 3px solid #000;	
	}

.lesdents, a.lesdents{text-decoration:none;color:#eee;background-color:#FFF;border:2px solid #eee;}
td.lesdents{width:40px;}
